:root {
  --header-height: 50px;
  --nav-item-width: 60px;
  --nav-home-background: #fbf0ca;
  --body-background: rgb(245, 255, 255);
  --projects-border: rgb(232, 212, 250);
}

*, html, body {
  margin: 0;
  padding: 0;
}

html, body, main {
  height: 100%;
  background-color: var(--body-background);
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 200;
}

h2.subheading {
  font-size: larger;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 2px 2px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  display: flex;
  flex-direction: column;
}

header, nav, footer {
  height: var(--header-height);
}

header, footer {
  z-index: 10;
}

nav {
  display: flex;
  gap: 1em;
}

header nav {
  border-bottom: 1px solid #DDDDDD66;
  box-shadow: 0 2px 5px #0000004d;
}

nav .nav__home {
  text-align: center;
  height: var(--header-height);
  width: var(--nav-item-width);
  font-size: 1em;
}

.nav__home {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  width: var(--nav-item-width);
  color: black;
  text-decoration: none;
  background-color: var(--nav-home-background);
}

.scrolldown {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1vh;
  margin: 0 auto;
  animation-name: bump;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: black;
}

@keyframes bump {
  50% {
    color: #2d68b4
  }
}

.scrolldown-text {
  width: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10vh;
  margin: 0 auto;
  font-size: smaller;
  font-weight: 200;
  opacity: 1;
  animation-name: scrollfade;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes scrollfade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.view {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  height: 100%;
  width: 100%;
  font-size: x-large;
}

.card-front {
  text-align: center;
  user-select: none;
}

.card-front, .card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-content {
  text-align: center;
  width: 90%;
  padding: 10%;
  font-size: x-large;
  user-select: none;
}

@media screen and (max-width: 700px) {
  .card-content {
    font-size: large;
  }
}

.view__introduction,
.view__projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.view__introduction {
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(250, 221, 187);
}

@media screen and (max-width: 700px) {
  .view__introduction {
    flex-direction: column;
    justify-content: center;
    flex-flow: column-reverse;
    text-align: center;
  }
}

.view__about {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background-color: rgb(138, 138, 138);

  container: interest / inline-size;
}

.interest {
  position: relative;
  flex-basis: 50%;
}

@container interest (max-width: 700px) {
  .interest {
    flex-basis: 100%;
  }
}

.interest__scifi {
  color: white;
}

.interest__language {
  color: white;

}

.animated-div {
  position: "absolute";
  flex: 1;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: var(--body-background);
}

.projects--heading {
  z-index: 1;
  background: var(--body-background);
  padding: 10px;
  border: 2px solid var(--projects-border);
}

.project {
  display: flex;
  flex-basis: 50%;
  box-sizing: border-box;
  border: 1px solid var(--projects-border);
}

.project__link {
  text-decoration: none;
  color: black;
  flex: 1;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-top: 2px solid #adadad;
}

.github,
.linkedin,
.leetcode {
  border: none;
  box-shadow: none;
  color: black;
  align-items: center;
  display: flex;
  text-decoration: none;
}

.github:hover,
.github:active,
.linkedin:hover,
.linkedin:active,
.leetcode:hover,
.leetcode:active {
  transition: all ease 500ms;
}

.github::after {
  content: "GitHub";
}

.linkedin::after {
  content: "LinkedIn";
}

.leetcode::after {
  content: "LeetCode";
}

.github::after,
.linkedin::after,
.leetcode:after {
  font-size: large;
  max-width: 0px;
  display: inline-block;
  transition: all ease 500ms;
  overflow: hidden;
  margin-left: 5px;
  user-select: none;
}

.github:hover::after,
.github:active::after,
.linkedin:hover::after,
.linkedin:active::after,
.leetcode:hover::after,
.leetcode:active::after {
  max-width: 90px;
  transition: all ease 800ms;
}

.github svg,
.linkedin svg,
.leetcode svg {
  vertical-align: 0;
}

noscript {
  display: flex;
  align-self: center;
}

.view noscript p {
  position: absolute;
  top: -100%;
  left: 20px;
  width: fit-content;
}

.view noscript p:first-child {
  animation-name: slide-in-1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes slide-in-1 {
  0% {
    top: 150%;
  }

  40%, 100% {
    top: 10vh;
  }
}

.view noscript p:nth-child(2) {
  animation-name: slide-in-2;
  animation-delay: 1500ms;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes slide-in-2 {
  0% {
    top: 150%;
  }

  40%, 100% {
    top: 20vh;
  }
}

.view noscript .icons {
  font-size: large;
}

.view noscript .icons div {
  position: absolute;
  top: 50%;
  left: 200%;
}

.view noscript .icons > div:nth-child(1) {
  animation-name: slide-in-icon-1;
  animation-delay: 6s;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes slide-in-icon-1 {
  0% {
    top: 50%;
    left: 100%;
  }

  100% {
    top: 30vh;
    left: 20px;
  }
}

.view noscript .icons > div:nth-child(2) {
  animation-name: slide-in-icon-2;
  animation-delay: 3500ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes slide-in-icon-2 {
  0% {
    top: 50%;
    left: 100%;
  }

  100% {
    top: 35vh;
    left: 20px;
  }
}

.view noscript .icons > div:nth-child(3) {
  animation-name: slide-in-icon-3;
  animation-delay: 4500ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes slide-in-icon-3 {
  0% {
    top: 50%;
    left: 100%;
  }

  100% {
    top: 40vh;
    left: 20px;
  }
}

.view noscript .icons > div:nth-child(4) {
  animation-name: slide-in-icon-4;
  animation-delay: 3s;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes slide-in-icon-4 {
  0% {
    top: 50%;
    left: 100%;
  }

  100% {
    top: 45vh;
    left: 20px;
  }
}

.view noscript .icons > div:nth-child(5) {
  animation-name: slide-in-icon-5;
  animation-delay: 4s;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes slide-in-icon-5 {
  0% {
    top: 50%;
    left: 100%;
  }

  100% {
    top: 50vh;
    left: 20px;
  }
}

.view noscript .icons > div:nth-child(6) {
  animation-name: slide-in-icon-6;
  animation-delay: 5500ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes slide-in-icon-6 {
  0% {
    top: 50%;
    left: 100%;
  }

  100% {
    top: 55vh;
    left: 20px;
  }
}

.view noscript .icons > div:nth-child(7) {
  animation-name: slide-in-icon-7;
  animation-delay: 2500ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes slide-in-icon-7 {
  0% {
    top: 50%;
    left: 100%;
  }

  100% {
    top: 60vh;
    left: 20px;
  }
}

.view noscript .icons > div:nth-child(8) {
  animation-name: slide-in-icon-8;
  animation-delay: 5s;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes slide-in-icon-8 {
  0% {
    top: 50%;
    left: 100%;
  }

  100% {
    top: 65vh;
    left: 20px;
  }
}

.view noscript .icons div span {
  animation-name: slide-in-icon-9;
  animation-delay: 5500ms;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  margin-left: 10px;
}

@keyframes slide-in-icon-9 {
  0%, 90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}